@{
    ViewData["MetaTitle"] = "Contact";
    ViewData["MetaDescription"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title"><span>Contact</span></h1>

<div class="block">
    <section>
        <div class="row-fluid">
            <div class="span6">
                <p>No, Threepio's with them. Just hang on. We're almost there. Mmmm. Oh, my. Uh, I, uh - Take this off! I, uh, don't mean to intrude here. I, don't, no, no, no...Please don't get up. No! Stormtroopers? Here? We're in danger. I must tell the others. Oh, no! I've been shot!</p>
                <p>I don't...I don't believe it. That is why you fail.</p>
                <p>So you see, since we're a small operation, we don't fall into the...uh...jurisdiction of the Empire. So you're part of the mining guild then? No, not actually. Our operation is small enough not to be noticed...which is advantageous for everybody since our customers are anxious to avoid attracting attention to themselves. Aren't you afraid the Empire's going to find out about this little operation and shut you down? That's always been a danger looming like a shadow over everything we've built here. But things have developed that will insure security. I've just made a deal that will keep the Empire out of here forever. We would be honored if you would join us. I had no choice. They arrived right before you did. I'm sorry. I'm sorry, too.</p>
                <p>You all right? Why are you still here? I heard the command center had been hit. You got your clearance to leave. Don't worry. I'll leave. First I'm going to get you to your ship. Your Highness, we must take this last transport. It's our only hope. Send all troops in sector twelve to the south slope to protect the fighters. Imperial troops have entered the base. Come on...that's it. Give the evacuation code signal. And get to your transports! K-one-zero...all troops disengage. Oh! Wait for me! Begin retreat! Fall back!</p>
                <p>Put Captain Solo in the cargo hold. Artoo! Artoo! Where have you been? Turn around, you wooly...! Hurry, hurry! We're trying to save Han from the bounty hunter! Well, at least your still in one piece! Look what happened to me! Oh, no! Chewie, they're behind you!</p>
            </div>

            <div class="span6">
                @if ((ViewData["ContactFormResult"] + "") != "")
                {
                    bool successful = (ViewData["ContactFormResult"] + "") == "success";

                    if (successful)
                    {
                        <p class="success">Your message has been sent successfully!</p>
                    }
                    else
                    {
                        <p class="error">Your message failed to send, please try again!</p>
                    }
                }

                <form method="post" action="/save-contact">
                    <fieldset>
                        <legend>Contact form</legend>

                        <p>
                            <label for="contact-name">Your Name</label><br />
                            <input type="text" name="contact-name" id="contact-name" placeholder="Leia Organa" required /><!--NOTE: use to specify required fields-->
                        </p>

                        <p>
                            <label for="contact-email">Your Email</label><br />
                            <input type="email" name="contact-email" id="contact-email" placeholder="your.name@domain.com" required />
                        </p>

                        <p>
                            <label for="contact-message">Your Message</label><br />
                            <textarea name="contact-message" id="contact-message" placeholder="Help me Obi-Wan Kenobi, you're my only hope." required></textarea>
                        </p>

                        <p>
                            <input class="btn btn-primary" type="submit" value="Submit" />
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</div>
