@{
    ViewData["MetaTitle"] = "Cookie Policy";
    ViewData["MetaDescription"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // taken from https://github.com/mattjuffs/cookie-policy
}

<h1 class="title"><span>Cookie Policy</span></h1>

<div class="block">
    <section>
        <p>
            Our website uses Cookies for various purposes. Cookies are small text parcels sent to and from a website, which is then stored on your computer by your browser.
            Without a Cookie a website cannot distinguish between different users, which can lead to essential functionality of a site not working as expected.
            This policy explains how Cookies are used on our website and how you can control them.
        </p>
        <p>In this policy, we/us/website refers to <strong>[Example.com]</strong></p>

        <h2>How we use Cookies</h2>
        <p>
            We use Cookies to define sessions, provide essential site features and track visitors anonymously for analytical purposes.
            We regularly carry out an audit of the cookies used on our website and have categorised them into the following:
        </p>
        <ol>
            <li><a href="#essential-cookies">Essential Cookies</a></li>
            <li><a href="#functional-cookies">Functional Cookies</a></li>
            <li><a href="#third-party-cookies">Third Party Cookies</a></li>
        </ol>
        <p>
            The below tables highlight all of the Cookies in use on this website.
            The <strong>Duration</strong> specifies how long they live on your computer until they are removed or renewed.
            Each type of Cookie may occur multiple times, each with different <strong>Name(s)</strong>. We grouped these together for readability purposes.
        </p>

        <h3 id="essential-cookies">Essential Cookies</h3>
        <p>These Cookies are required by the website in order to work as expected. Without them you may be unable to browse parts of the website or view it at all.</p>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <td>Cookie</td>
                        <td>Name(s)</td>
                        <td>Duration</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Session</td>
                        <td>ASP.NET_SessionId</td>
                        <td>Session</td>
                        <td>Used to provide the User with a Session</td>
                    </tr>
                    <tr>
                        <td>Authorisation</td>
                        <td>ASPXAUTH</td>
                        <td>Session</td>
                        <td>Authorises the User to have access to the members area</td>
                    </tr>
                    <tr>
                        <td>Member</td>
                        <td>Member</td>
                        <td>2 months</td>
                        <td>Stores the User's unique ID for login and checkout purposes</td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>User</td>
                        <td>30 days</td>
                        <td>Stores the User's basket for adding items to their basket and remembering it when returning to the site</td>
                    </tr>
                    <tr>
                        <td>Reference</td>
                        <td>Reference</td>
                        <td>2 days</td>
                        <td>Used on the Checkout to store the User's order reference as they progress</td>
                    </tr>
                    <tr>
                        <td>SelectedOption</td>
                        <td>SelectedOption</td>
                        <td>1 hour</td>
                        <td>Stores the User's chosen delivery option on the Checkout</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 id="functional-cookies">Functional Cookies</h3>
        <p>These Cookies are used by features of our website to identify you and your preferences as you use the site. It is possible to use the website without these, though you may see a degraded experience.</p>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <td>Cookie</td>
                        <td>Name(s)</td>
                        <td>Duration</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Currency</td>
                        <td>Currency</td>
                        <td>2 days</td>
                        <td>Stores the User's currency preference (e.g. GBP)</td>
                    </tr>
                    <tr>
                        <td>Viewed</td>
                        <td>ViewedHomeSlide20120229a</td>
                        <td>2 days</td>
                        <td>Name varies, but is used to determine if the homepage offer has been viewed to avoid showing it to the user multiple times.</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Name</td>
                        <td>2 days</td>
                        <td>Stores the User's name when entered on the various forms to save having to re-enter their name at a later date.</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>Email</td>
                        <td>2 days</td>
                        <td>Stores the User's email when entered on the various forms to save having to re-enter their email at a later date.</td>
                    </tr>
                    <tr>
                        <td>Sizing</td>
                        <td>Sizing</td>
                        <td>2 days</td>
                        <td>Stores the User's size chart preference, e.g. UK or USA sizing</td>
                    </tr>
                    <tr>
                        <td>Referrer</td>
                        <td>Referrer</td>
                        <td>2 days</td>
                        <td>Stores the affiliate that referred the User to the website for tracking purposes</td>
                    </tr>
                    <tr>
                        <td>Referrer</td>
                        <td>LongTermSource</td>
                        <td>30 days</td>
                        <td>Stores the affiliate that referred the User to the website for tracking purposes</td>
                    </tr>
                    <tr>
                        <td>Legacy Cookies</td>
                        <td>URLS, Query</td>
                        <td>2 days</td>
                        <td>Old legacy cookies that may still be stored on a User's PC if they have visited the website previously</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>Location</td>
                        <td>2 days</td>
                        <td>Stores the User's location (e.g. UK, USA etc.)</td>
                    </tr>
                    <tr>
                        <td>Purchased</td>
                        <td>Purchased</td>
                        <td>2 months</td>
                        <td>Tracks whether the User has previously purchased from the website in the last 2 months</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 id="third-party-cookies">Third Party Cookies</h3>
        <p>
            These Cookies are used by selected third parties we have chosen to integrate with. They are used mainly for tracking purposes so that we can further improve the site for the future.
            They may also be used for integrating with social sites to further enhance your website experience.
        </p>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <td>Cookie</td>
                        <td>Name(s)</td>
                        <td>Duration</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AddThis</td>
                        <td>uit, psc, uvc, uid, dt, loc, di, _atuvc</td>
                        <td>Varies</td>
                        <td>Used by <a href="http://www.addthis.com/privacy/privacy-policy">AddThis</a> for Share button</td>
                    </tr>
                    <tr>
                        <td>Twitter</td>
                        <td>auth_token_session, guest_id, k, _utmz, _utmc, _utmb, _utma<br />twll, secure_session, auth_token, twid, _twitter_sess</td>
                        <td>Varies</td>
                        <td>Used by <a href="https://twitter.com/privacy">Twitter</a> for Tweet button</td>
                    </tr>
                    <tr>
                        <td>Facebook</td>
                        <td>datr, locale, csm, lu, p, act, c_user, s, xs, presence</td>
                        <td>Varies</td>
                        <td>Used by <a href="http://www.facebook.com/about/privacy/your-info-on-other">Facebook</a> for Like button</td>
                    </tr>
                    <tr>
                        <td>ClickTale</td>
                        <td>datr, locale, csm, lu, p, act, c_user, s, xs, presence</td>
                        <td>Varies</td>
                        <td>Used by <a href="http://www.clicktale.com/privacy">ClickTale</a> for tracking purposes</td>
                    </tr>
                    <tr>
                        <td>Google Analytics</td>
                        <td>_utmz, _utmc, _utmb, _utma</td>
                        <td>Varies</td>
                        <td>Used by <a href="http://www.google.com/analytics/learn/privacy.html">Google Analytics</a> for tracking purposes. You can opt out of these using the <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics opt-out browser add-on</a>.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Controlling the Cookies</h2>
        <p>By default, all of the above Cookies are in use on our website. However, if you wish to take control of these cookies you can do so by following the instructions below for your browser:</p>
        <ul>
            <li><a href="http://support.microsoft.com/kb/278835">Internet Explorer</a> (<a href="http://www.microsoft.com/windowsphone/en-us/howto/wp7/web/changing-privacy-and-other-browser-settings.aspx">mobile</a>)</li>
            <li><a href="http://support.google.com/chrome/bin/answer.py?hl=en-GB&answer=95647">Chrome</a></li>
            <li><a href="http://support.mozilla.org/en-US/kb/Enabling%20and%20disabling%20cookies">Firefox</a></li>
            <li><a href="http://docs.info.apple.com/article.html?path=Safari/5.0/en/9277.html">Safari</a></li>
            <li><a href="http://docs.blackberry.com/en/smartphone_users/deliverables/32004/Turn_off_cookies_in_the_browser_60_1072866_11.jsp">Blackberry</a></li>
            <li><a href="http://support.google.com/mobile/bin/answer.py?hl=en&answer=169022">Android</a></li>
            <li><a href="http://www.opera.com/browser/tutorials/security/privacy/">Opera</a></li>
        </ul>
        <p>
            This will allow you to remove Cookies or prevent using them altogether. Remember, turning off Cookies in your browser will affect all websites not just this one.
            If you later decide you'd like to allow Cookies, then simply adjust your browser settings and continue using the website; Cookies will then be sent to and from our website.
        </p>
    </section>
</div>
