@{
    ViewData["MetaTitle"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title"><span>Privacy Policy</span></h1>

<div class="block">
    <section>
        <p>Good. Use your aggressive feelings, boy! Let the hate flow through you. Obi-Wan has taught you well. I will not fight you, father. You are unwise to lower your defenses. Your thoughts betray you, father. I feel the good in you...the conflict. There is no conflict. You couldn't bring yourself to kill me before, and I don't believe you'll destroy me now. You underestimate the power of the dark side. If you will not fight, then you will meet your destiny. Good. Good.</p>
        <p>Lord Vader, this is an unexpected pleasure. We're honored by your presence. You may dispense with the pleasantries, Commander. I'm here to put you back on schedule. I assure you, Lord Vader, my men are working as fast as they can. Perhaps I can find new ways to motivate them. I tell you, this station will be operational as planned.</p>
        <p>Oh, General Solo, somebody's coming. Oh! Luke! Where's Leia? What? She didn't come back? I thought she was with you. We got separated. Hey, we better go look for her. Take the squad ahead. We'll meet at the shield generator at 0300. Come on, Artoo. We'll need your scanners. Don't worry, Master Luke. We know what to do. And you said it was pretty here. Ugh!</p>
        <p>I told you to remain on the command ship. A small Rebel force has penetrated the shield and landed on Endor. Yes, I know. My son is with them. Are you sure? I have felt him, my Master. Strange, that I have not. I wonder if your feelings on this matter are clear, Lord Vader. They are clear, my Master. Then you must go to the Sanctuary Moon and wait for them. He will come to me? I have foreseen it. His compassion for you will be his undoing. He will come to you andthen you will bring him before me. As you wish.</p>
        <p>Come on. We gotta get out of here quick. Not my eyes! Artoo, help! Quickly, Artoo. Oh! Ohhh! You beast! Get the gun! Point it at the deck! Point it at the deck! Artoo, where are we going? I couldn't possibly jump. Come on! Let's go! And don't forget the droids. We're on our way. I'll meet you back at the fleet. Hurry. The Alliance should be assembled by now. I will. Hey, Luke, thanks. Thanks for comin' after me. Now I owe you one. That's right, Artoo. We're going to the Dagobah system. I have a promise to keep... to an old friend.</p>
    </section>
</div>
