<h1 class="title"><span>SlickCMS</span></h1>

<!--pages are made up of blocks, which are usually centred divs 960px wide on a large resolution screen-->
<div class="block">

    <!--alternatively, move the h1 into main and drop the title class-->
    <!--<h1>SlickCMS</h1>-->

    <section>
        <h2 id="bookmarkIntroduction">Introduction</h2>

        <p>Hosting Environment: @ViewData["HostingEnvironment"]</p>
        @*<p>Connection String: @ViewData["ConnectionString"]</p>*@
        <hr />
        <p>The battle station is heavily shielded and carries a firepower greater than half the star fleet. It's defenses are designed around a direct large-scale assault. A small one-man fighter should be able to penetrate the outer defense. Pardon me for asking, sir, but what good are snub fighters going to be against that? Well, the Empire doesn't consider a small one-man fighter to be any threat, or they'd have a tighter defense. An analysis of the plans provided by Princess Leia has demonstrated a weakness in the battle station.</p>

        <div class="row-fluid">
            <div class="span6">
                <p>We don't serve their kind here! What? Your droids. They'll have to wait outside. We don't want them here. Listen, why don't you wait out by the speeder. We don't want any trouble. I heartily agree with you sir. Negola dewaghi wooldugger?!? He doesn't like you. I'm sorry. I don't like you either You just watch yourself. We're wanted men. I have the death sentence in twelve systems. I'll be careful than. You'll be dead. This little one isn't worth the effort. Come let me buy you something...</p>
                <p>No, my father didn't fight in the wars. He was a navigator on a spice freighter. That's what your uncle told you. He didn't hold with your father's ideals. Thought he should have stayed here and not gotten involved. You fought in the Clone Wars? Yes, I was once a Jedi Knight the same as your father. I wish I'd known him. He was the best star-pilot in the galaxy, and a cunning warrior. I understand you've become quite a good pilot yourself. And he was a good friend. Which reminds me... I have something here for you. Your father wanted you to have this when you were old enough, but your uncle wouldn't allow it. He feared you might follow old Obi-Wan on some damned-fool idealistic crusade like your father did.</p>
            </div>

            <div class="span6">
                <h3>Latest Posts</h3>
                <p>The last 5 blog posts:</p>
                <ol class="no-list-style">
                    <li><a href="#">Blog Post Title</a> - <em>2019-03-20</em></li>
                    <li><a href="#">Blog Post Title</a> - <em>2019-02-14</em></li>
                    <li><a href="#">Blog Post Title</a> - <em>2019-01-01</em></li>
                    <li><a href="#">Blog Post Title</a> - <em>2018-12-24</em></li>
                    <li><a href="#">Blog Post Title</a> - <em>2018-12-13</em></li>
                </ol>

                <hr />

                <h3>Around the Web</h3>
                <ul>
                    <li><a href="https://github.com/mattjuffs/slickcms">SlickCMS on GitHub</a></li>
                    <li><a href="http://slickhouse.com">Slickhouse.com</a></li>
                </ul>
            </div>
        </div>

        <p>Hey, whoa, just where do you think you're going? Master Luke here is your rightful owner. We'll have no more of this Obi-Wan Kenobi jibberish...and don't talk to me about your mission, either. You're fortunate he doesn't blast you into a million pieces right here. What's wrong with him now? Oh my...sir, he says there are several creatures approaching from the southeast. Sandpeople! Or worst! Come on, let's have a look. Come on. There are two Banthas down there but I don't see any...wait a second, they're Sandpeople all right. I can see one of them now.</p>
        <p>I can't see a thing in this helmet. This is not going to work. Why didn't you say so before? I did say so before! Where are you taking this...thing? Prisoner transfer from Block one-one-three-eight. I wasn't notified. I'll have to clear it. Look out! We've got to find out which cell this princess of yours is in. Here it is...cell twenty-one-eight-seven. You go get her. I'll hold them here. Everything is under control. Situation normal. What happened? Uh...had a slight weapons malfunction. But, uh, everything's perfectly all right now. We're fine. We're all fine here, now, thank you. How are you? We're sending a squad up. Uh, uh, negative. We had a reactor leak here now. Give us a few minutes to lock it down. Large leak...very dangerous. Who is this? What's your operating number? Boring conversation anyway. Luke! We're going to have company!</p>
        <p>And, now Your Highness, we will discuss the location of your hidden Rebel base.</p>
    </section>

</div>