<footer>
    <nav>
        <a href="#top" class="scroll">Go to top</a>
        &copy; @DateTime.Now.Year Slickhouse / Matthew Juffs | Licensed under The MIT License
    </nav>
</footer>

<aside id="printInformation">
    &copy; @DateTime.Now.Year Slickhouse / Matthew Juffs | Licensed under The MIT License | Printed: @DateTime.Now.ToHumanDate()
</aside>
