<footer>
    <nav>
        <a href="#top" class="scroll">Go to top</a>
        Content &copy; @DateTime.Now.Year Slickhouse | SlickCMS is licensed under <a href="/license">The MIT License</a> | <a href="/privacy">Privacy</a> | <a href="/cookies">Cookies</a> | <a href="/admin">Admin</a>
    </nav>
</footer>

<aside id="printInformation">
    Content &copy; @DateTime.Now.Year Slickhouse | SlickCMS is licensed under The MIT License | Printed: @DateTime.Now.ToHumanDate()
</aside>
