<footer>
    <nav>
        <a href="#top" class="scroll">Go to top</a>
        &copy; @DateTime.Now.Year Slickhouse | Licensed under <a href="/license">The MIT License</a> | <a href="/privacy">Privacy</a> | <a href="/cookies">Cookies</a>
    </nav>
</footer>

<aside id="printInformation">
    &copy; @DateTime.Now.Year Slickhouse | Licensed under The MIT License | Printed: @DateTime.Now.ToHumanDate()
</aside>
