
<header>
    <nav>
        <span id="projectName"><a href="/"><span class="orange">slick</span><span class="blue">cms</span></a></span>

        <ul id="menu">
            <li class="root"><a href="/framework">Framework</a></li>

            <li class="root"><a href="/posts">Posts</a></li>

            <li class="root" id="li1">
                <a href="#bookmarkFeatures" class="scroll">Dropdown</a>
                <ul class="dropdown" id="dd1">
                    <li><a href="#">Menu Item 01</a></li>
                    <li><a href="#">Menu Item 02</a></li>
                </ul>
            </li>
        </ul>

        <div id="search">
            <form method="get" action="/">
                <input type="search" placeholder="Search" />
                <input type="submit" value="go" title="Click to search the framework" />
            </form>
        </div>

        <a href="#" class="mobileMenu">Menu</a>
        <ul class="mobileMenu">
            <li><a href="#top" class="scroll">Home</a></li>
            <li><a href="/framework">Framework</a></li>
            <li><a href="#bookmarkIntroduction" class="scroll">Introduction</a></li>
            <li><a href="#bookmarkFeatures" class="scroll">Dropdown</a></li>
        </ul>
    </nav>
</header>
