@model SlickCMS.Web.Models.PostsModel

@{
    ViewData["MetaTitle"] = "Posts";
    ViewData["MetaDescription"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <section>
        <p>&nbsp;</p>@*Note: this p is required to clear the header*@
        <ol class="breadcrumbs clearfix">
            <li><a href="/">Home</a></li>
            @{
                if (Model.Pagination.CurrentPage > 1)
                {
                    <li class="current"><a href="/posts?page=@Model.Pagination.CurrentPage">Posts</a></li>
                }
                else
                {
                    <li class="current"><a href="/posts">Posts</a></li>
                }
            }
        </ol>
    </section>

    <section class="clearfix">
        <h2>Posts</h2>
        @*<p><a asp-action="Create">Create New</a></p>*@
        <partial name="_Posts" model="Model.Posts" />
    </section>

    <section>
        <partial name="_Pagination" model="Model.Pagination" />
    </section>
</div>