@model SlickCMS.Web.Models.PostsModel

@{
    ViewData["MetaTitle"] = "Search";
    ViewData["MetaDescription"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <section>
        <p>&nbsp;</p>@*Note: this p is required to clear the header*@
        <ol class="breadcrumbs clearfix">
            <li><a href="/">Home</a></li>
            @{
                if (Model.Pagination.CurrentPage > 1)
                {
                    <li class="current"><a href="/search?query=@Model.Pagination.Query&page=@Model.Pagination.CurrentPage">Search</a></li>
                }
                else
                {
                    <li class="current"><a href="/search?query=@Model.Pagination.Query">Search</a></li>
                }
            }
        </ol>
    </section>

    <section class="clearfix">
        <h2>Search Results</h2>
        <p>@Model.Pagination.TotalPosts results found for your query <code>@Model.Pagination.Query</code></p>
        <partial name="_Posts" model="Model.Posts" />
    </section>

    <section>
        <partial name="_Pagination" model="Model.Pagination" />
    </section>
</div>