<!--[if lt IE 7]>
    <div class="block" style="margin-top: 50px;">
        <p class="warning">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    </div>
<![endif]-->
